<app-top-bar></app-top-bar>

<br>
<form *ngIf="Depart">
    <table>
        <thead>
          <tr>
            <th></th>
            <th colspan="2">Tension de sortie</th>
            <th>CourantA</th>
            <th colspan="2">Novembre</th>
            <th>Nbre de luminaires</th>
          </tr> 
          <tr>
            <th></th>
            <th>Triphasé</th>
            <th>Mono</th>
            <th ></th>
            <th>Triphasé</th>
            <th>Mono</th>
            <th>150W</th>
          </tr>
        </thead>
      
        <tbody>
          <tr>
            <td>Depart 1</td>
            <td><input type='hidden' value="Depart 1"></td>
          </tr>
          <tr>
            <td>R</td>
            <td><input type="text" id="tenstion_sortie_triphase0" name="tenstion_sortie_triphase0" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[0].tenstion_extrimite_triphase" ></td>
            <td><input type="text" id="tenstion_sortie_mono0" name="tenstion_sortie_mono0" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[0].tenstion_sortie_mono"></td>
            <td type="text" id="date_intervention0" name="date_intervention0" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[0].courantA"></td>
            <td><input type="text" id="tenstion_extrimite_triphase0" name="tenstion_extrimite_triphase0" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[0].tenstion_extrimite_triphase"></td>
            <td><input type="text" id="tenstion_extrimite_mono0" name="tenstion_extrimite_mono0" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[0].tenstion_extrimite_mono"></td>
            <td><input type="text" id="nbr_lumineux0" name="nbr_lumineux0" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[0].nbr_lumineux"></td>
          </tr>
          <tr>
            <td>S</td>
            <td><input type="text" id="tenstion_sortie_triphase1" name="tenstion_sortie_triphase1" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[1].tenstion_sortie_triphase"></td>
            <td><input type="text" id="tenstion_sortie_mono1" name="tenstion_sortie_mono1" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[1].tenstion_sortie_mono"></td>
            <td type="text" id="date_intervention1" name="date_intervention1" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[1].courantA"></td>
            <td><input type="text" id="tenstion_extrimite_triphase1" name="tenstion_extrimite_triphase1" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[1].tenstion_extrimite_triphase"></td>
            <td><input type="text" id="tenstion_extrimite_mono1" name="tenstion_extrimite_mono1" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[1].tenstion_extrimite_mono"></td>
            <td><input type="text" id="nbr_lumineux1" name="nbr_lumineux1" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[1].nbr_lumineux"></td>
          </tr>
          <tr>
            <td>T</td>
            <td><input type="text" id="tenstion_sortie_triphase2" name="tenstion_sortie_triphase2" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[2].tenstion_sortie_triphase"></td>
            <td><input type="text" id="tenstion_sortie_mono2" name="tenstion_sortie_mono2" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[2].tenstion_sortie_mono"></td>
            <td type="text" id="date_intervention2" name="date_intervention2" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[2].courantA"></td>
            <td><input type="text" id="tenstion_extrimite_triphase2" name="tenstion_extrimite_triphase2" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[2].tenstion_extrimite_triphase"></td>
            <td><input type="text" id="tenstion_extrimite_mono2" name="tenstion_extrimite_mono2" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[2].tenstion_extrimite_mono"></td>
            <td><input type="text" id="nbr_lumineux2" name="nbr_lumineux2" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[2].nbr_lumineux"></td>
          </tr>
    
          <tr>
            <td>Depart 2</td>
            <td><input type='hidden' value="Depart 2"></td>
          </tr>
          <tr>
            <td>R</td>
            <td><input type="text" id="tenstion_sortie_triphase3" name="tenstion_sortie_triphase3" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[3].tenstion_sortie_triphase"></td>
            <td><input type="text" id="tenstion_sortie_mono3" name="tenstion_sortie_mono3" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[3].tenstion_sortie_mono"></td>
            <td type="text" id="date_intervention3" name="date_intervention3" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[3].courantA"></td>
            <td><input type="text" id="tenstion_extrimite_triphase3" name="tenstion_extrimite_triphase3" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[3].tenstion_extrimite_triphase"></td>
            <td><input type="text" id="tenstion_extrimite_mono3" name="tenstion_extrimite_mono3" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[3].tenstion_extrimite_mono"></td>
            <td><input type="text" id="nbr_lumineux3" name="nbr_lumineux3" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[3].nbr_lumineux"></td>
          </tr>
          <tr>
            <td>S</td>
            <td><input type="text" id="tenstion_sortie_triphase4" name="tenstion_sortie_triphase4" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[4].tenstion_sortie_triphase"></td>
            <td><input type="text" id="tenstion_sortie_mono4" name="tenstion_sortie_mono4" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[4].tenstion_sortie_mono"></td>
            <td type="text" id="date_intervention4" name="date_intervention4" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[4].courantA"></td>
            <td><input type="text" id="tenstion_extrimite_triphase4" name="tenstion_extrimite_triphase4" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[4].tenstion_extrimite_triphase"></td>
            <td><input type="text" id="tenstion_extrimite_mono4" name="tenstion_extrimite_mono4" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[4].tenstion_extrimite_mono"></td>
            <td><input type="text" id="nbr_lumineux4" name="nbr_lumineux4" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[4].nbr_lumineux"></td>
          </tr>
          <tr>
            <td>T</td>
            <td><input type="text" id="tenstion_sortie_triphase5" name="tenstion_sortie_triphase5" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[5].tenstion_sortie_triphase"></td>
            <td><input type="text" id="tenstion_sortie_mono5" name="tenstion_sortie_mono5" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[5].tenstion_sortie_mono"></td>
            <td type="text" id="date_intervention5" name="date_intervention5" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[5].courantA"></td>
            <td><input type="text" id="tenstion_extrimite_triphase5" name="tenstion_extrimite_triphase5" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[5].tenstion_extrimite_triphase"></td>
            <td><input type="text" id="tenstion_extrimite_mono5" name="tenstion_extrimite_mono5" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[5].tenstion_extrimite_mono"></td>
            <td><input type="text" id="nbr_lumineux5" name="nbr_lumineux5" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[5].nbr_lumineux"></td>
          </tr>
    
          <tr>
            <td>Depart 3</td>
            <td><input type='hidden' value="Depart 3"></td>
          </tr>
          <tr>
            <td>R</td>
            <td><input type="text" id="tenstion_sortie_triphase6" name="tenstion_sortie_triphase6" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[6].tenstion_sortie_triphase"></td>
            <td><input type="text" id="tenstion_sortie_mono6" name="tenstion_sortie_mono6" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[6].tenstion_sortie_mono"></td>
            <td type="text" id="date_intervention6" name="date_intervention6" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[9].courantA"></td>
            <td><input type="text" id="tenstion_extrimite_triphase6" name="tenstion_extrimite_triphase6" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[6].tenstion_extrimite_triphase"></td>
            <td><input type="text" id="tenstion_extrimite_mono6" name="tenstion_extrimite_mono6" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[6].tenstion_extrimite_mono"></td>
            <td><input type="text" id="nbr_lumineux6" name="nbr_lumineux6" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[6].nbr_lumineux"></td>
          </tr>
          <tr>
            <td>S</td>
            <td><input type="text" id="tenstion_sortie_triphase7" name="tenstion_sortie_triphase7" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[7].tenstion_sortie_triphase"></td>
            <td><input type="text" id="tenstion_sortie_mono7" name="tenstion_sortie_mono7" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[7].tenstion_sortie_mono"></td>
            <td type="text" id="date_intervention7" name="date_intervention7" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[7].courantA"></td>
            <td><input type="text" id="tenstion_extrimite_triphase7" name="tenstion_extrimite_triphase7" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[7].tenstion_extrimite_triphase"></td>
            <td><input type="text" id="tenstion_extrimite_mono7" name="tenstion_extrimite_mono7" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[7].tenstion_extrimite_mono"></td>
            <td><input type="text" id="nbr_lumineux7" name="nbr_lumineux7" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[7].nbr_lumineux"></td>
          </tr>
          <tr>
            <td>T</td>
            <td><input type="text" id="tenstion_sortie_triphase8" name="tenstion_sortie_triphase8" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[8].tenstion_sortie_triphase"></td>
            <td><input type="text" id="tenstion_sortie_mono8" name="tenstion_sortie_mono8" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[8].tenstion_sortie_mono"></td>
            <td type="text" id="date_intervention8" name="date_intervention8" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[8].courantA"></td>
            <td><input type="text" id="tenstion_extrimite_triphase8" name="tenstion_extrimite_triphase8" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[8].tenstion_extrimite_triphase"></td>
            <td><input type="text" id="tenstion_extrimite_mono8" name="tenstion_extrimite_mono8" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[8].tenstion_extrimite_mono"></td>
            <td><input type="text" id="nbr_lumineux8" name="nbr_lumineux8" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.caracteristiqueList[8].nbr_lumineux"></td>
          </tr>
          <tr>
            <td>Observation</td>
            <td style="width: 100%;"><input type="text" id="observation" name="observation" (keyup)="updateErrorMessagee()" [(ngModel)]="Depart.observation"></td>
          </tr>
        </tbody>
          
        <tfoot>
    
        </tfoot>
    </table>

    <button  (click)="submitProduct()">Ajouter</button>
    <!-- <button *ngIf="Mofifer" [disabled]="boutonDesactive" (click)="updatePoint()">Mofier</button> -->
</form>