body{
  background-color: rgb(177, 177, 177);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3868ba;
    color: rgb(255, 255, 255);
    padding: 10px;
    box-shadow: 0 0 19px  #284c8a;
    height: 50px;
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .navbar a:hover {
    color: #1c1c1c;
    border-bottom: 2px solid white;
    border-radius: 5px;
  }
  
  .navbar h1 {
    margin: 0;
    font-size: 28px;
  }

  .not{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 7px;
    height: 450px;
    width: 300px;
    position: absolute;
    top: 46px;
    float : right;
    right: 68px;
    padding: 10px;
    font-weight: 600;
    overflow : auto;

 
 }


 #notification{
  color: rgb(255, 208, 0);

 }

#notification:hover{
  color: rgb(139, 113, 0);
  transition: 1s;
}



#close{
  color: red;
  font-weight: 1200;
  border: none;
  position: fixed;
  background-color: transparent;
  border-radius: 50%;
  padding-left: 6px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 3px;
}