<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
  <div class="content" role="main" *ngIf="admin!=0">
  <router-outlet *ngIf="user!=null"></router-outlet>
  <app-login *ngIf="user==null" ></app-login>
</div>   

<div class="content" role="main" *ngIf="admin==0">
  <router-outlet *ngIf="userTech!=null"></router-outlet>
  <app-login-tech *ngIf="userTech==null" ></app-login-tech >
</div> 


<!-- 
 <app-intervention-form></app-intervention-form> -->

<!-- 

  <app-add-intervention></app-add-intervention> -->

  <!-- <app-add-depart></app-add-depart>
   -->

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

