
<app-top-bar></app-top-bar>
<br>
<form> 
    <label for="type" >Type d'intervention</label>
    <input type="text" id="email" name="email" [(ngModel)]="Intervention.type" (keyup)="updateErrorMessagee()">

    <label for="intitule_Intervention" >Intitule d'intervention:</label>
    <input type="text" id="password" name="password" [(ngModel)]="Intervention.intitule_Intervention" (keyup)="updateErrorMessagee()">

    <label for="dure_Intervention" >Dure d'intervention:</label>
    <input type="number" id="dure_Intervention" name="dure_Intervention" [(ngModel)]="Intervention.dure_Intervention" (keyup)="updateErrorMessagee()">

    <label for="etat_intervention" >Etat d'intervention:</label>
    <input type="text" id="etat_intervention" name="etat_intervention" [(ngModel)]="Intervention.etat_intervention" (keyup)="updateErrorMessagee()">

    <label for="date_intervention" >Date d'intervention:</label>
    <input type="date" id="date_intervention" name="date_intervention" [(ngModel)]="Intervention.date_intervention" (keyup)="updateErrorMessagee()">



    <!-- HTML -->
<!-- <select #userSelect (change)="onUserSelected()">
  <option *ngFor="let technicienne of techniciennes" [value]="technicienne.id">{{ technicienne.nom }} {{ technicienne.prenom }}</option>
</select>

<div *ngIf="selectedUser && selectedUser.selectedOptions">
  <h3>Options sélectionnées :</h3>
  <ul>
    <li *ngFor="let option of selectedUser.selectedOptions">{{ option }}</li>
  </ul>
</div> -->
<!-- <label for="techniciennes">Techniciennes :</label>
<select name="technicienne" id="technicienne" [(ngModel)]="technicienChoisi"  (change)="ajouterOption()">
  <option *ngFor="let technicienne of techniciennes"  [value]="technicienne">
    {{ technicienne.nom }} {{ technicienne.prenom }}
  </option>
</select>

<label for="selectedPoints"> technicienneSelectionnee:</label>
<div [(ngModel)]="technicienChoisi" >
  Nom : {{ technicienChoisi.nom }} Prenom : {{ technicienChoisi.prenom }} CIN : ({{ technicienChoisi.cin }})  
</div> -->
 


<label for="techniciennes">Techniciennes :</label>
<select name="techniciennes" id="techniciennes" [(ngModel)]="selectedTechniciennes" multiple (change)="ajouterOption()">
  <option *ngFor="let technicienne of techniciennes" [ngValue]="technicienne">
    {{ technicienne.nom }} {{ technicienne.prenom }}
  </option>
</select>

<!-- Use *ngFor to loop through the selected techniciennes array -->
<div class="techChoisi" *ngIf="selectedTechniciennes.length">
  <div *ngFor="let technicien of technicienChoisi">
    <strong>Nom :</strong> {{ technicien.nom }} <strong>Prenom :</strong> {{ technicien.prenom }} <strong>CIN : </strong> {{ technicien.cin }}  <a routerLink="/technicien/{{technicien.id}}">     Details</a> 
  </div>
</div>

    <!-- <label for="selecteTechnicienes">Techniciennes sélectionnés :</label>
    <select name="selecteTechnicienes" id="selecteTechnicienes" multiple>
      <option *ngFor="let techn of Intervention.techniciennes" [value]="techn">{{ techn }}</option>
    </select> -->
    <br>
    <!-- <label for="PointLumineux" >PointLumineux :</label>
    <input type="text" id="PointLumineux" name="PointLumineux" [(ngModel)]="Intervention.PointLumineux" (keyup)="updateErrorMessagee()">
 -->


<label for="pointsLumineux">Points Lumineux :</label>
<select name="pointsLumineux" id="pointsLumineux" [(ngModel)]="pointlumineuxSelectionnee"  (change)="ajouterOptionPoint()">
  <option *ngFor="let PointxLimineu of PointxLimineuxs" [value]="PointxLimineu">{{ PointxLimineu.type }}</option>
</select>


<label for="selectedPoints">Points Lumineux sélectionnés :</label>
<div *ngFor="let pointLumineux of Intervention.pointLumineuxList" >
  Type : {{ pointLumineux.type }}   
</div>

    <br>
  <button (click)="submitIntervention()" >Soumettre</button>
</form>

