
<app-top-bar></app-top-bar>
<br>
<form> 
    <label for="type" >Type d'intervention</label>
    <input type="text" id="email" name="email" [(ngModel)]="Intervention.type" (keyup)="updateErrorMessagee()">

    <label for="intitule_Intervention" >Intitule d'intervention:</label>
    <input type="text" id="password" name="password" [(ngModel)]="Intervention.intitule_Intervention" (keyup)="updateErrorMessagee()">

    <label for="dure_Intervention" >Dure d'intervention:</label>
    <input type="number" id="dure_Intervention" name="dure_Intervention" [(ngModel)]="Intervention.dure_Intervention" (keyup)="updateErrorMessagee()">

    <label for="etat_intervention" >Etat d'intervention:</label>
    <input type="text" id="etat_intervention" name="etat_intervention" [(ngModel)]="Intervention.etat_intervention" (keyup)="updateErrorMessagee()">

    <label for="date_intervention" >Date d'intervention:</label>
    <input type="date" id="date_intervention" name="date_intervention" [(ngModel)]="Intervention.date_intervention" (keyup)="updateErrorMessagee()">
<!-- 
    <label for="techniciennes" >Techniciennes :</label>
    <input type="text" id="techniciennes" name="techniciennes" [(ngModel)]="Intervention.techniciennes" (keyup)="updateErrorMessagee()"> -->

    <label for="techniciens">Techniciennes :</label>
    <select name="techniciens" id="techniciens" [(ngModel)]="selecteTechnicienes" multiple (change)="onTechnicinnesSelected()">
      <option *ngFor="let technicien of techniciens" [value]="technicien">{{ technicien }}</option>
    </select>

    <label for="selecteTechnicienes">Techniciennes sélectionnés :</label>
    <select name="selecteTechnicienes" id="selecteTechnicienes" multiple>
      <option *ngFor="let techn of Intervention.techniciennes" [value]="techn">{{ techn }}</option>
    </select>
    <br>
    <!-- <label for="PointLumineux" >PointLumineux :</label>
    <input type="text" id="PointLumineux" name="PointLumineux" [(ngModel)]="Intervention.PointLumineux" (keyup)="updateErrorMessagee()">
 -->


<label for="pointsLumineux">Points Lumineux :</label>
<select name="pointsLumineux" id="pointsLumineux" [(ngModel)]="selectedPoints" multiple (change)="onPointsLumineuxSelected()">
  <option *ngFor="let PointxLimineu of PointxLimineuxs" [value]="PointxLimineu">{{ PointxLimineu }}</option>
</select>

<label for="selectedPoints">Points Lumineux sélectionnés :</label>
<select name="selectedPoints" id="selectedPoints" multiple>
  <option *ngFor="let pointLumineux of Intervention.PointLumineux" [value]="pointLumineux">{{ pointLumineux }}</option>
</select>

    <br>
  <button (click)="submitIntervention()" >Soumettre</button>
</form>
