form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  input {
    padding: 8px;
    margin-bottom: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0069d9;
  }
  

  .techChoisi{
    background-color: wheat;
    border: rgb(217, 217, 217);
    margin-top: 15px;
    padding: 5px;
    text-align: center;
  }


  .techChoisi {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
  }
  
  .techChoisi strong {
    margin-right: 5px;
  }
  
  .techChoisi ng-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .techChoisi strong {
    margin-right: 10px;
    
    margin-left: 10px;
  }

  .techChoisi a{
    margin-left: 15px;
  }
  

strong{
  color: #007bff;
}





  