body{
  background-color: rgb(177, 177, 177);
}



.container{
  margin-top: 20px;
  background-color: rgb(255, 255, 255);
  width: 90%;
  height: fit-content;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;

}

.intervention{
  width: 70%;
  background-color: rgb(231, 231, 231);
  margin: 15px auto;
  height: fit-content;
  padding: 15px 15px;
  text-align: center;
  border-radius: 10px;
  border: 4px solid rgb(231, 231, 231);
  box-shadow: 1px 1px 19px rgb(167, 167, 167);
}

.intervention:hover{
  box-shadow: 1px 1px 19px rgb(110, 110, 110);
  transition: .3s;
  
}



.id{
  text-align: start; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: cornflowerblue; 
  width: fit-content;
  height: fit-content;
  font-weight: 700;
}



.tech{
  height: fit-content;
  background-color: rgb(242, 242, 242);
  background-color: 0 0 19px rgb(210, 210, 210);
  padding: 10px;
  border: 7px;
  width: 30%;
  float: left;
  margin-left: 80px;
}

.pointl{
  height: fit-content;
  background-color: rgb(242, 242, 242);
  background-color: 0 0 19px rgb(210, 210, 210);
  border: 7px;
  padding: 10px;
  width: 30%;
  float: right;
  margin-right: 80px;
<<<<<<< HEAD
}


body{
  background-color: rgb(177, 177, 177);
}


.container{
  margin-top: 20px;
  background-color: rgb(255, 255, 255);
  width: 90%;
  height: fit-content;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;

}

.infos h3{
  color: rgb(61, 61, 61);
  font-family: 'Times New Roman', Times, serif;
  
}

.infos h3 span{
  color: rgb(26, 38, 106);
  font-weight: 800;
  font-size: 17px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.intervention{
  width: 70%;
  background-color: rgb(231, 231, 231);
  margin: 15px auto;
  height: 420px;
  padding: 20px 15px;
  text-align: center;
  border-radius: 10px;
  border: 4px solid rgb(231, 231, 231);
  box-shadow: 1px 1px 19px rgb(167, 167, 167);
  padding-left: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  z-index: 1;
}


.intervention:hover{
  box-shadow: 1px 1px 19px rgb(110, 110, 110);
  transition: .3s;
}


.tech{
  height: fit-content;
  background-color: rgb(242, 242, 242);
  background-color: 0 0 19px rgb(210, 210, 210);
  padding: 10px;
  border: 7px;
  width: 30%;
  float: left;
  height: 80px;
  margin-left: 80px;
  overflow-y: auto;
}


.pointl{
  height: fit-content;
  background-color: rgb(242, 242, 242);
  background-color: 0 0 19px rgb(210, 210, 210);
  border: 7px;
  padding: 10px;
  width: 30%;
  float: right;
  height: 80px;
  margin-right: 80px;
  overflow-y: auto;
}


.infos{
  text-align: start;

}


button {
  background: #4a4d5c;
  padding: 8px 16px;
  margin: 16px 0 50px 0;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: 140px;
}

button:hover {
  letter-spacing: 2px;
      box-shadow: none;
      transition: .5s;
}




.not{
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 7px;
  height: 170px;
  width: 450px;
  position: fixed;
  top: 240px;
  float : right;
  right: 32%;
  padding: 10px;
  font-weight: 600;
  box-shadow: 0 0 21px rgb(199, 190, 190);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  justify-content: center;
  text-align: center;
  font-size: 17px;
  padding: 15px;
  padding-top: 50px;
  z-index: 2;
}

.not input{
  border: 1px solid #dfdfdf;
  font-family: Arial, Helvetica, sans-serif;
  padding: 8px;
}


#notification{
color: rgb(255, 208, 0);

}

#notification:hover{
color: rgb(139, 113, 0);
transition: 1s;
}



#cl{
  background: #ff6866;
  padding: 8px 16px;
  margin: 16px 0 50px 0;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  margin-right: 25px;
}

#val{
  background: #68d984;
  padding: 8px 16px;
  margin: 16px 0 50px 0;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
=======
>>>>>>> origin/main
}