

<nav class="navbar">
  <a [routerLink]="['/Home']"><h1>Home</h1></a>
  <a [routerLink]="['/ListeProducts']">Liste des Point Lumineux</a>
  <a [routerLink]="['/ListeArmoire']">Liste des armoires</a>
  <a [routerLink]="['/AddPointLumineux']">Ajout Point Lumineux</a>
  <a [routerLink]="['/AddArmoire']">Ajout Armoire</a>
  <a [routerLink]="['/Addtechnicienne']">Ajout techniciennes</a>
  <a [routerLink]="['/Intervention']">Ajout Intervention</a>
  <a [routerLink]="['/AddDepart']">Ajout un Depart</a>
</nav>

