<!-- <li data-active="true"><a [routerLink]="['/Home']">Home</a></li>
<li data-active="false"><a [routerLink]="['/ListeProducts']">Point Lumineux</a></li>
<li data-active="false"><a [routerLink]="['/ListeArmoire']">Armoires</a></li>
 <li data-active="false"><a [routerLink]="['/AddPointLumineux']">Ajout Point Lumineux</a></li> -->
<!-- <li data-active="false"><a [routerLink]="['/AddArmoire']">Ajout Armoire</a></li> -->
<!-- <li data-active="false"><a [routerLink]="['/Addtechnicienne']">Ajout techniciennes</a></li> 
<li data-active="false"><a [routerLink]="['/Intervention']"> Intervention</a></li>
 -->


 <!DOCTYPE html>
 <html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
 </head>
 <body>
    <header class="header">
        <a [routerLink]="['/Home']" class="logo">LightX</a>

        <nav class="navbar">
          <a [routerLink]="['/ListeProducts']">Point Limineux</a>
          <a [routerLink]="['/Addtechnicienne']">Techniciens</a>
          <a [routerLink]="['/Intervention']">Interventions</a>
          <a [routerLink]="['/HomListeArmoiree']">Armoires</a>
        </nav>
    </header>
 </body>
 </html>