*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins' , sans-serif;
}

/* 
body{
  min-height: 100vh;
  background-color: rgb(40, 43, 48)65;
} */

<<<<<<< HEAD
.not{
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 7px;
  height: 450px;
  width: 300px;
  position: absolute;
  top: 46px;
  float : right;
  right: 68px;
  padding: 10px;
  font-weight: 600;
  overflow : auto;


}


#notification{
color: rgb(255, 208, 0);

}

#notification:hover{
color: rgb(139, 113, 0);
transition: 1s;
}
=======
>>>>>>> origin/main

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: rgba(213, 213, 213, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  backdrop-filter: blur(10px);
}

.logo{
  color:#5c6975;
  font-size: 25px;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
}


.navbar a{
  color: #475058;
  font-size: 18px;
  text-decoration: none;
  margin-left: 35px;
}

.navbar a:hover{
  color: #66a0d3;
  border-bottom: 3px solid #66a0d3;
  padding-bottom: 2px;
  transition: .2s;
}