*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins' , sans-serif;
}

/* 
body{
  min-height: 100vh;
  background-color: rgb(40, 43, 48)65;
} */


.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: rgba(213, 213, 213, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
}

.logo{
  color:#5c6975;
  font-size: 25px;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
}


.navbar a{
  color: #475058;
  font-size: 18px;
  text-decoration: none;
  margin-left: 35px;
  transition: .3s;
}

.navbar a:hover{
  color: #5b7d9b;
}